@use '../../styles/variables' as v;

.App {
  background: v.$color-inner;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 1rem;
  width: 90vw;
}

.header {
  margin-bottom: v.$gutter;
}
